extends ./layout/index

block contenido
     main.container.mt-5 
        .row 
            .col-md-4 
                 img(src="img/nosotros.jpg", alt="Imagen sobre nosotros", class="img-fluid")
            .col-md-7 
                h1= pagina
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, sequi nesciunt quas ducimus harum rem nostrum quod molestiae in ab recusandae similique quo deleniti quae iusto veniam dolor, quasi eum. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi fugit maxime error consectetur vel voluptatem aspernatur, animi optio voluptatibus harum doloribus excepturi, ipsam, inventore corrupti ab ad? Laborum, facilis accusantium? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod ex fuga ad! Modi nostrum quo, vitae asperiores ducimus eligendi doloremque vero odio ratione quia aperiam ipsum excepturi, reiciendis reprehenderit veritatis?

                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus aliquid perferendis facilis officiis cumque sit vitae dolorem. Quo fugit nisi eum nobis tempora, illum consequuntur. Voluptatibus dolorum similique mollitia iusto. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis laudantium, rem tenetur consequuntur expedita quis minima error odio vel. Animi dicta explicabo sint doloremque magni, voluptatem quasi nam accusantium reprehenderit.

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint quia aperiam veniam perferendis libero magnam. Minus consequuntur fuga eligendi sint officia sapiente doloremque, est quisquam recusandae, obcaecati corrupti velit iusto? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum mollitia molestias dolores culpa sequi animi incidunt quia unde id amet officiis tempora illo impedit, laborum maxime porro doloribus tenetur ipsum!

     .listado-iconos    
        .container.mt-5.py-5.text-center    
            .row
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="Icono seguridad", class="img-fluid mb-4")
                    h4.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus rem architecto doloremque, quasi repudiandae omnis nihil deleniti adipisci aspernatur iure velit blanditiis sint qui nulla facilis? Reprehenderit libero delectus accusamus?
                
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="Icono destinos", class="img-fluid mb-4")
                    h4.mb-4 Destinos
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus rem architecto doloremque, quasi repudiandae omnis nihil deleniti adipisci aspernatur iure velit blanditiis sint qui nulla facilis? Reprehenderit libero delectus accusamus?
                
                .col-md-4 
                    img(src="img/icono_precios.svg", alt="Icono precios", class="img-fluid mb-4")
                    h4.mb-4 Precios
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus rem architecto doloremque, quasi repudiandae omnis nihil deleniti adipisci aspernatur iure velit blanditiis sint qui nulla facilis? Reprehenderit libero delectus accusamus?


                

